html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

hr {
    border-color: rgb(0, 247, 255);
}

h1, h2 {
    color: rgb(255, 255, 255);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

footer {
    text-align: center;
    padding: 1px;
    background-color: rgb(153, 153, 153);
    color: white;
}